/* Общие стили для всей страницы */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  width: 800px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 40px;
}

.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

.menu-btn {
  background: transparent;
  border: none;
  color: gray;
  font-size: 14px;
  text-align: left;
  padding: 15px 25px;
  cursor: pointer;
  transition: color 0.3s;
  text-transform: uppercase;
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 1.5px;
}

.menu-btn.active {
  color: #177db8;
  font-weight: bold;
}

.menu-btn:hover {
  color: #177db8;
}

.content {
  width: 600px;
  padding: 40px;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.icon {
  width: 34px;
  height: 34px;
  object-fit: contain;
  opacity: 0.7;
}

.menu-btn.active .icon {
  opacity: 1;
}